@section Head {
    <style>
        * {
            padding: 0;
            margin: 0;
            text-decoration: none;
            list-style: none;
            box-sizing: border-box;
        }

        body {
            font-family: montserrat;
            min-height: 100%;
        }

        nav {
            background: whitesmoke;
            height: 80px;
            width: 100%;
        }

        label.logo {
            color: white;
            font-size: 35px;
            line-height: 80px;
            padding: 0 100px;
            font-weight: bold;
        }

        label.logonav {
            color: black;
            font-size: 35px;
            line-height: 80px;
            padding: 0 100px;
            font-weight: bold;
        }

        label.logomain {
            color: black;
            font-size: 35px;
            line-height: 80px;
            padding: 0 100px;
            font-weight: bold;
        }

        nav ul {
            float: right;
            margin-right: 20px;
        }

            nav ul li {
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;
            }

                nav ul li a {
                    color: grey;
                    font-size: 17px;
                    padding: 7px 13px;
                    text-transform: uppercase;
                }

        #intro {
            background-image: url(img/favicon/home.webp);
            height: 100vh;
        }

        /*        body {
            background: #b0e0e6
        }*/

        footer {
            clear: both;
            position: relative;
        }

        #bottom {
            position: absolute;
            width: 100%;
            bottom: 0;
        }

        body {
            background: #000 url(img/favicon/home.webp); /* Фоновый цвет и фоновый рисунок*/
            background-attachment: fixed; /* Фон страницы фиксируется */
            background-repeat: no-repeat; /* Изображение повторяется по горизонтали */
            background-size: cover;
        }
    </style>
}

<header>
    <nav>
        <label class="logonav">Our Website</label>
        <ul>
            <li><a class="active" asp-controller="Profile" asp-action="Index">Profile</a></li>
            <li><a class="active" asp-controller="Account" asp-action="Register">Sign up</a></li>
            <li><a class="active" asp-controller="Account" asp-action="Login">Log in</a></li>
            <li><a class="active" asp-controller="Account" asp-action="ResetPassword">Change password</a></li>
        </ul>
    </nav>
</header>
<body>
    <main>
        <div class="img-fluid">
            <form class="form-center">
                <div class="text-center">
                    <img class="mb-4" src="~/img/logo.svg" alt="" width="270" height="270">
                    <h1 class="h3 mb-3 fw-normal">@ViewData["Title"]</h1>
                </div>
            </form>

        </div>
        <div>
            <ul>
                <li>
                    <label class="logomain">Responsibility</label>
                    <label class="logomain">Reliability</label>
                    <label class="logomain">Quality</label>
                    <label class="logomain">Features</label>
                    <label class="logomain">Development</label>
                </li>
            </ul>
        </div>
    </main>
</body>
<div id="bottom">
    <footer class="bg-light text-lg-start">
        <form class="bottom-0">
            <div class="container">
                <div class="text-center p-3" style="background-color: whitesmoke">
                    © 2021 All rights reserved
                </div>
            </div>
            <hr class="m-0" />
        </form>
    </footer>
</div>