<header>
    <style>
        #intro {
            background-image: url("/img/home.jpg");
            height: 100vh;
        }
    </style>

    <div id="intro">
        <nav class="navbar-light bg-light">
            <div class="container-fluid">


            </div>
        </nav>
    </div>
</header>

<footer>

</footer>