@model IdService.App.ViewModels.Profile.ProfileModel
@{ ViewData["Title"] = "User Page"; }
@section Head {
    @await Html.PartialAsync("Partial/_FlexBody")
}

<div class="container">
    <main>
        <form class="form-center" method="post" asp-action="Index">
            <div class="px-3 py-5 border-sm rounded">
                <div class="text-center">
                    <img class="mb-4" src="~/img/logo.svg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 fw-normal">@ViewData["Title"]</h1>
                </div>

                <div class="mb-3" asp-validation-summary="ModelOnly"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="FirstName"></label>
                    <input class="form-control" asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="LastName"></label>
                    <input class="form-control" asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Email"></label>
                    <input readonly class="form-control" asp-for="Email" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Phone"></label>
                    <input readonly class="form-control" asp-for="Phone" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Status"></label>
                    <input readonly class="form-control" asp-for="Status" />
                </div>
                
                <button type="submit" class="w-100 btn btn-primary">
                    Save changes
                </button>
                
                <a class="btn btn-primary w-100" asp-action="Manage2Fa" role="button">Manage2Fa</a>
                <a class="btn btn-primary w-100" asp-controller="Home" asp-action="Index" role="button">Home page</a>

            </div>
        </form>
    </main>
</div>