@model IdService.App.ViewModels.Profile.ProfileModel
@{
    ViewData["Title"] = "User Page";
    var isTwoFactorEnabled = (bool)ViewData["IsTwoFactorEnabled"];
}
@section Head {
    @await Html.PartialAsync("Partial/_FlexBody")
}

<div class="container">
    <main>
        <form class="form-center" method="post" asp-action="Index">
            <div class="px-3 py-5 border-sm rounded">
                <div class="text-center">
                    <img class="mb-4" src="~/img/logo.svg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 fw-normal">@ViewData["Title"]</h1>
                </div>

                <div class="mb-3" asp-validation-summary="ModelOnly"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="FirstName"></label>
                    <input class="form-control" asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="LastName"></label>
                    <input class="form-control" asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Email"></label>
                    <input readonly class="form-control" asp-for="Email" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Phone"></label>
                    <input readonly class="form-control" asp-for="Phone" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Status"></label>
                    <input readonly class="form-control" asp-for="Status" />
                </div>

                <div class="mb-3"> 
                    <button type="submit" class="w-100 btn btn-primary">
                        Save changes
                    </button>
                </div>
                
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6 text-start">
                            @if (isTwoFactorEnabled)
                            {
                                <a asp-action="Disable2Fa">Disable Two Factor</a>
                            }
                            else
                            {
                                <a asp-action="SetupAuthenticator">Enable Two Factor</a>
                            }
                        </div>
                        <div class="col-6 text-end">
                            <a asp-controller="Home" asp-action="Index">Home page</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
</div>