@model IdService.App.ViewModels.Profile.SetupAuthenticatorModel
@{ ViewData["Title"] = "Manage 2Fa"; }
@section Head {
    @await Html.PartialAsync("Partial/_FlexBody")
}
<div class="container">
    <main>
        <form class="form-center" method="post" asp-action="SetupAuthenticator">
            <div class="px-3 py-5 border-sm rounded">
                <div class="text-center">
                    <img class="mb-4" src="~/img/logo.svg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 fw-normal">@ViewData["Title"]</h1>
                </div>

                <div class="mb-3" asp-validation-summary="ModelOnly"></div>

                <img class="form-center" src="@Model.QrCodeSource" alt="Embedded QR Code" />
                <kbd>@Model.SharedKey</kbd>
                <pre><code>@Model.RecoveryCodes</code></pre>

                <button type="submit" class="w-100 btn btn-primary">
                    Submit
                </button>

            </div>
        </form>
    </main>
</div>