@model IdService.App.ViewModels.Profile.SetupAuthenticatorModel
@{ ViewData["Title"] = "Manage 2Fa"; }
@section Head {
    @await Html.PartialAsync("Partial/_FlexBody")
}
<div class="container">
    <main>
        <form class="form-center" method="post" asp-action="SetupAuthenticator">
            <div class="px-3 py-5 border-sm rounded">
                <div class="text-center">
                    <img class="mb-4" src="~/img/logo.svg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 fw-normal">@ViewData["Title"]</h1>
                </div>

                <div class="mb-3" asp-validation-summary="ModelOnly"></div>
                <label class="form-label h6 mb-3">Scan the QR code:</label>
                <img class="form-center img-thumbnail" src="@Model.QrCodeSource" alt="Embedded QR Code" />
                <label style="margin-top: 5px" class="form-label h6 mb-3">Or use this code:</label>
                <kbd style="margin-top: 5px" class="mb-3">@Model.SharedKey</kbd>
                <pre><code class="visually-hidden form-center">@Model.RecoveryCodes</code></pre>
                <div class="mb-3">
                    <label class="form-label" asp-for="Code"></label>
                    <input class="form-control" asp-for="Code" />
                    <span asp-validation-for="Code"></span>
                </div>

                <button type="submit" class="w-100 btn btn-primary">
                    Submit
                </button>

            </div>
        </form>
    </main>
</div>