@model IdService.App.ViewModels.Account.LoginModel
@{ ViewData["Title"] = "Sign in"; }
@section Head {
    @await Html.PartialAsync("Partial/_FlexBody")
}
<div class="container">
    <main>
        <form class="form-center" method="post" asp-action="Login">
            <div class="px-3 py-5 border-sm rounded">
                <div class="text-center">
                    <img class="mb-4" src="~/img/logo.svg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 fw-normal">@ViewData["Title"]</h1>
                </div>

                <div class="mb-3" asp-validation-summary="ModelOnly"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Username"></label>
                    <input class="form-control" asp-for="Username" />
                    <span asp-validation-for="Username"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label float-start" asp-for="Password"></label>
                    <a asp-controller="Account" asp-action="ForgotPassword" class="float-end text-decoration-none">Forgot password?</a>
                    <input class="form-control" asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>

                <div class="mb-3 form-check">
                    <input class="form-check-input" asp-for="RememberLogin">
                    <label class="form-check-label" asp-for="RememberLogin"></label>
                </div>

                <button type="submit" class="w-100 btn btn-primary">
                    @ViewData["Title"]
                </button>
            </div>
            <input type="hidden" asp-for="ReturnUrl"/>
        </form>
    </main>
</div>
