@model IdService.App.ViewModels.Account.LoginViewModel
<html>
<style>
    body {
        background: lightblue; /* Цвет фона */
    }
</style>
<center>
    <form name="test" method="post" action="input1.php">
        <p>
            <b>Your email:</b><br>
            <input maxlength="48" size="40" name="login">
        </p>
            <b>Your password:</b><br>
            <input type="password" maxlength="48" size="40" name="password">
        <p><Br>
        </p>
            <input type="submit" value="Submit">
            
</form>
</center>
</html>